/* reset css */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

/* reset css */

body{
    overflow-x: hidden;
    font-family: 'Heebo', sans-serif;
}

img{
    width: 100%;
}

/* h section */

.h-content{
    width: 100%;
    height:100vh;
    max-height: 667px;
    background: linear-gradient(180deg, #0E0F21 0%, #0F48A9 100%) ;
}

.h-container{
    width:95%;
    height: 100vh;
    margin: 0 auto;
    padding: 15px 10px;
    position: relative;
}

nav{
    width:100%;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
}



.logo{
    width: 50px;
}

.menu-ham{
    position: absolute;
    right: 0;
    z-index: 20;
}

.span{
    display: block;
    width: 35px;
    height: 4px;
    cursor: pointer;
    transition: .4s;
    background: white;
    border-radius: 100px;
}

.check{
    display: none;
}

.menu-icon{
    display: block;
    cursor: pointer;
}

.m, .b{
    margin-top: 5px;
}


.check:checked ~ .menu-ham .m{
    opacity: 0;
}

.check:checked ~ .menu-ham .b{
    transform: rotate(45deg) translate(-3px,-9px);
    background: #194185;
}

.check:checked ~ .menu-ham .t{
    transform: rotate(-45deg) translate(-4px,9px);
    background: #194185;
}

.menu-list{
    position:absolute;
    z-index: 10;
    background: white;
    width: 300px;
    height: 100vh;
    top: 0;
    right: 0;
    padding-top: 100px;
    box-shadow: -1px 4px 9px 2px rgba(0, 0, 0, 0.25);
    transition: all 0.6s;
    transform: translate(100%,0);
    position: fixed;
}

.open-menu{
    transform: translate(0%,0);
}

.list-ham{
    width: 100%;
    display: block;
    text-decoration: none;
    color:#161616 ;
    font-size: 25px;
    line-height: 80px;
    font-weight: 400;
    padding-left: 20px;
}

.list-ham:hover, .button-contact-ham:hover{
    background: rgb(224, 224, 224);
}

.button-contact-ham{
    display: block;
    font-weight: 600;
    color: #194185;
    text-decoration: none;
    font-size: 25px;
    line-height: 80px;
    padding-left: 20px;
}

.icon-social{
    width: 100%;
    padding-left: 20px;
    margin-top: 10px;
}

.instagram-content{
    width: 40px;
}

.instagram{
    fill: #005EFF;
}



.content-header{
    width: 100%;
    height: 560px;
}


.text-header h1{
  color: white;
  font-weight: bold;
  font-size: 50px;
}

.k{
    color: #005EFF;
}

.text-header h2{
    color: white;
    font-weight: 500;
}

.rig{
    color: #005EFF;
}

.text-header p{
    color: white;
    margin-bottom:20px;
}

.text-header a{
    text-decoration:none;
    color:#194185;
    padding:10px 15px;
    background:white;
    border-radius:100px;
    font-weight:800;
}

.img-section{
    width: 300px;
    margin: 0 auto;
}

.arrow{
    width: 40px;
    height: 30px;
    margin: 20px auto 0 auto;
}




/* h section */

/* service-section */

.service-section{
    width: 100%;
    padding: 80px 0;
}

.service-container{
    width: 95%;
    height:100%;
    margin: 0 auto;
}

.head-service{
    text-align: center;
}

.head-service h3{
    color: #194185;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
}

.head-bottom{
    width: 110px;
    height: 5px;
    background: linear-gradient(270deg, #005EFF 35.42%, #194185 100%);
    margin: 0 auto;
    border-radius: 100px;
}

.service-grid{
    padding: 0 20px;
}

.service{
    width: 100%;
    height: 400px;
    border-radius:20px;
    position: relative;
    background: url(img-stile/background-grid.jpg) center bottom no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 23px 2px rgba(0, 0, 0, 0.15);
    margin-top: 50px;
}

.service-web{
    width: 100%;
    height: 100%;
    padding:40px 15px;
}

.text-web a{
    text-decoration: none;
    color: #005EFF;
    font-weight: 600;
    font-size: 15px;
}



.service-content{
    width: 100%;
    height: 100%;
    padding:40px 20px;
}

.icon-service{
    width: 130px;
    stroke: #194185;
    margin: 0 auto;
}


.service-content a{
    text-decoration: none;
    color: #005EFF;
    font-weight: 600;
    font-size: 15px;
}

.text-service{
    margin-top: 20px;
}

.text-web{
    margin-top: 0px ;
}

.text-service p{
    color: #161616;
}

.text-service h3{
   color: #194185;
   font-weight: 800;
   font-size: 35px;
}



.bottom-link{
    display: none;
}



.circle{
    fill: #194185;
}


/* service-section */

/* work section */

.work-section{
    width: 100%;
    padding: 60px 0;
    background: linear-gradient(270deg, #005EFF 0%, #194185 100%); ;
}

.work-container{
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.text-work{
    padding: 30px 10px;
    width: 100%;
}

.text-work h1{
    color: white;
    font-weight: bold;
    font-size: 70px;
    line-height: 60px;
}


.text-work h2{
    color: white;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 10px;
}

.button-work{
    text-decoration:none;
    color:#194185;
    padding:5px 10px;
    background:white;
    border-radius:100px;
    font-weight:800 ;
    font-size: 20px;
    
}

.work-content{
    position: relative;
}

.img-laptop{
    width: 320px;
    margin: 0 auto;
}



/* work section */

/* form-section */

.form-section{
    width: 100%;
}

.form-container{
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.form-content{
    padding: 100px 10px;
}

.form-name, .form-email{
    border-bottom:3px solid #194185;
}

form input{
    width: 100%;
    height: 100%;
    border: none;
    outline: 0;
    font-size: 20px;
}

form textarea{
    width: 100%;
    height: 100%;
    border: 3px solid #194185;
    outline:0;
}

.form-email, .form-message{
    margin-top: 40px;
}

.head-form{
    text-align: center;
    margin-bottom: 50px;
}

.head-form h3{
    color: #194185;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
}

.head-bottom-form{
    width: 160px;
    height: 5px;
    background: linear-gradient(270deg, #005EFF 35.42%, #194185 100%);
    margin: 0 auto;
    border-radius: 100px;
}

.button-form{
    margin-top: 20px;
    position: relative;
}

.button-form button{
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    background: #005EFF;
    color: white;
    font-weight:600;
    position: absolute;
    right: 0;
}



/* form-section */
